In [1]:
import sys 
import os 

project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

from utils.getLatestFiles import get_latest_master_players, get_latest_master_matches, get_latest_master_events
from utils.winrates import get_player_winrates

In [2]:
master_player_df = get_latest_master_players()
master_match_df = get_latest_master_matches()
master_event_df = get_latest_master_events()


player_winrates_df = get_player_winrates(master_match_df, min_matches=0, info_string="Overall")

✅ 2697 players found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Players/20251115_master_players.csv
✅ 23814 matches found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Matches/20251115_master_matches.csv
✅ 187 events found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Events/20251115_master_events.csv

In [6]:
player_winrates_df[player_winrates_df['TotalWins (Overall)'] > 0]

,playerId,TotalWins (Overall),TotalLosses (Overall),TotalMatches (Overall),WinRate (Overall)
0,131791,1,0,1,100.00
1,135288,1,0,1,100.00
2,145484,1,0,1,100.00
3,131472,1,0,1,100.00
4,143600,1,0,1,100.00
...,...,...,...,...,...
1761,123198,2,24,26,7.69
1762,121420,1,13,14,7.14
1763,134774,1,15,16,6.25
1764,134338,1,15,16,6.25
1765,103163,1,18,19,5.26