In [ ]:
import sys 
import os 
from datetime import datetime

project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

from utils.getLatestFiles import get_latest_master_players, get_latest_master_matches, get_latest_master_events, get_latest_winrates
from utils.winrates import compute_match_winrates, compute_set_winrates, compute_point_winrates, save_winrates

In [ ]:
from math import inf


MASTER_WINRATES_DIR = "../Data/Master/Winrates/"
os.makedirs(MASTER_WINRATES_DIR, exist_ok=True)



master_player_df = get_latest_master_players()
master_match_df = get_latest_master_matches()
master_event_df = get_latest_master_events()

info_string = "Overall"


match_winrates_df = compute_match_winrates(master_match_df, info_string=info_string)

✅ 2697 players found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Players/20251119_master_players.csv
✅ 23882 matches found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Matches/20251120_master_matches.csv
✅ 188 events found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Events/20251119_master_events.csv
✅✅Saved master player winrates to ../Data/Master/Winrates/20251124_winrates_OVERALL.csv

In [6]:
match_winrates_df = compute_match_winrates(master_match_df, info_string="Overall")
match_winrates_df

,playerId,TotalWins (Overall),TotalLosses (Overall),TotalMatches (Overall),MatchWinRate (Overall)
0,131472,1,0,1,100.0
1,143600,1,0,1,100.0
2,131791,1,0,1,100.0
3,145484,1,0,1,100.0
4,111964,1,0,1,100.0
...,...,...,...,...,...
2692,134000,0,2,2,0.0
2693,105310,0,2,2,0.0
2694,207488,0,2,2,0.0
2695,203048,0,1,1,0.0
2696,117883,0,2,2,0.0

In [7]:
set_winrates_df = compute_set_winrates(master_match_df, info_string="Overall")
set_winrates_df.sort_values('SetWinRate (Overall)', ascending=False)

,playerId,TotalSetsWon (Overall),TotalSetsLost (Overall),TotalSetsPlayed (Overall),SetWinRate (Overall)
1999,145484,4,0,4,100.00
1540,135288,4,0,4,100.00
1071,131472,4,0,4,100.00
1108,131791,4,0,4,100.00
2513,206221,14,3,17,82.35
...,...,...,...,...,...
1044,131227,0,3,3,0.00
1043,131217,0,3,3,0.00
1041,131196,0,3,3,0.00
2200,200587,0,3,3,0.00
2211,200649,0,12,12,0.00

In [8]:
point_winrates_df = compute_point_winrates(master_match_df, info_string="Overall")
point_winrates_df = point_winrates_df.sort_values('PointWinRate (Overall)', ascending=False)
point_winrates_df

,playerId,TotalPointsWon (Overall),TotalPointsLost (Overall),TotalPointsPlayed (Overall),PointWinRate (Overall)
1071,131472,44,0,44,100.00
1540,135288,44,0,44,100.00
1108,131791,44,16,60,73.33
2621,211742,56,33,89,62.92
2513,206221,178,111,289,61.59
...,...,...,...,...,...
2313,202095,0,99,99,0.00
343,113764,0,132,132,0.00
2069,146065,0,33,33,0.00
1147,132122,0,44,44,0.00
2634,211779,0,33,33,0.00

In [9]:
master_winrates_df = pd.merge (match_winrates_df, set_winrates_df, how="outer", on=["playerId"])
master_winrates_df = pd.merge (master_winrates_df, point_winrates_df, how="outer", on=["playerId"])
save_winrates(master_winrates_df, info_string="Overall")

✅✅Saved master player winrates to ../Data/Master/Winrates/20251124_winrates_OVERALL.csv

In [10]:
master_winrates_df

,playerId,TotalWins (Overall),TotalLosses (Overall),TotalMatches (Overall),MatchWinRate (Overall),TotalSetsWon (Overall),TotalSetsLost (Overall),TotalSetsPlayed (Overall),SetWinRate (Overall),TotalPointsWon (Overall),TotalPointsLost (Overall),TotalPointsPlayed (Overall),PointWinRate (Overall)
0,90051,2,1,3,66.67,6,4,10,60.00,86,73,159,54.09
1,100001,8,21,29,27.59,45,74,119,37.82,1033,1133,2166,47.69
2,100032,2,5,7,28.57,11,17,28,39.29,253,287,540,46.85
3,100079,11,5,16,68.75,44,25,69,63.77,649,527,1176,55.19
4,100089,2,2,4,50.00,8,8,16,50.00,138,142,280,49.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2692,222286,0,5,5,0.00,0,15,15,0.00,59,165,224,26.34
2693,222365,0,1,1,0.00,0,3,3,0.00,15,33,48,31.25
2694,222391,0,1,1,0.00,0,3,3,0.00,13,33,46,28.26
2695,222625,2,1,3,66.67,7,7,14,50.00,132,139,271,48.71
2696,223297,0,2,2,0.00,0,6,6,0.00,28,66,94,29.79