In [16]:
import aiohttp
import asyncio
from typing import Optional, Dict, Any, Tuple
import time
import random
import pandas as pd
import json 


MIN_PAUSE_COMMENTARY = 0.05
MAX_PAUSE_COMMENTARY = 0.20
REQUEST_TIMEOUT_S = 30 
SECAPIMKEY = "S_WTT_882jjh7basdj91834783mds8j2jsd81" 


async def fetch_match_commentary(session: aiohttp.ClientSession, 
                                 match_tuple: Tuple[int, str],
                                 min_pause: float,
                                 max_pause: float
                                ) -> Optional[Dict[str, Any]]:
    """
    (Async Worker) Fetches the raw match commentary JSON for a specific match.

    Args:
        session (aiohttp.ClientSession): The active session for making requests.
        match_tuple (Tuple[int, str]): The (event_id, match_code) to scrape.
        min_pause (float): Minimum politeness pause.
        max_pause (float): Maximum politeness pause.

    Returns:
        Optional[Dict[str, Any]]: The full raw JSON response, or None on failure.
    """
    # Random politeness pause BEFORE the request
    await asyncio.sleep(random.uniform(min_pause, max_pause))
    
    event_id, match_code = match_tuple
   
    url = f"https://wtt-website-api-prod-3-frontdoor-bddnb2haduafdze9.a01.azurefd.net/api/match/commentary/{event_id}/{match_code}"
    
   
    headers = {
        'accept': 'application/json, text/plain, */*',
        'origin': 'https://www.worldtabletennis.com',
        'referer': 'https://www.worldtabletennis.com/',
        'secapimkey':"S_WTT_882jjh7basdj91834783mds8j2jsd81",
        'user-agent': 'Mozilla/5.0 (Linux; Android 11.0; Surface Duo) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Mobile Safari/537.36'
    }
    
    try:
        async with session.get(url, headers=headers, timeout=REQUEST_TIMEOUT_S) as response:
            response.raise_for_status() # Raise an error for bad status codes
            
            # Return the full raw JSON dictionary
            return await response.json()
            
    except Exception as e:
        # Logging errors (handled by the main orchestrator)
        # print(f"WARN: Commentary fetch failed for {match_code}: {type(e).__name__}")
        return None

In [17]:
match_tuple = (3090, "TTEMSINGLES-----------FNL-000100----------")

In [18]:
async with aiohttp.ClientSession() as session:
    match_com = await fetch_match_commentary(session, match_tuple, MIN_PAUSE_COMMENTARY, MAX_PAUSE_COMMENTARY)

In [43]:
match_json = json.loads(match_com)

In [44]:
match_df = pd.DataFrame(match_json)

In [45]:
match_df.dropna(inplace=True)

In [46]:
match_df["eventId"] = match_df["event_doc_code"].str.split("_").str[0]
match_df["matchCode"] = match_df["event_doc_code"].str.split("_").str[1]

In [50]:
match_df.drop(columns=["id", "event_doc_code"],inplace=True)

In [51]:
match_df

,data,_ts,eventId,matchCode
0,"{'ACTIONTYPE': 'SL', 'UTCDATE': '2025-06-15T00...",1749996202,3090,TTEMSINGLES-----------FNL-000100----------
1,"{'ACTIONTYPE': 'SSD', 'UTCDATE': '2025-06-15T0...",1749996331,3090,TTEMSINGLES-----------FNL-000100----------
2,"{'ACTIONTYPE': 'SSR', 'UTCDATE': '2025-06-15T0...",1749996332,3090,TTEMSINGLES-----------FNL-000100----------
3,"{'ACTIONTYPE': 'SSR', 'UTCDATE': '2025-06-15T0...",1749996333,3090,TTEMSINGLES-----------FNL-000100----------
4,"{'ACTIONTYPE': 'LV', 'UTCDATE': '2025-06-15T00...",1749996419,3090,TTEMSINGLES-----------FNL-000100----------
...,...,...,...,...
291,"{'ACTIONTYPE': 'MPOINT', 'UTCDATE': '2025-06-1...",1749999277,3090,TTEMSINGLES-----------FNL-000100----------
292,"{'ACTIONTYPE': 'SSR', 'UTCDATE': '2025-06-15T0...",1749999278,3090,TTEMSINGLES-----------FNL-000100----------
293,"{'ACTIONTYPE': 'STP', 'UTCDATE': '2025-06-15T0...",1749999291,3090,TTEMSINGLES-----------FNL-000100----------
294,"{'ACTIONTYPE': 'PT', 'UTCDATE': '2025-06-15T00...",1749999296,3090,TTEMSINGLES-----------FNL-000100----------
295,"{'ACTIONTYPE': 'OF', 'UTCDATE': '2025-06-15T00...",1749999301,3090,TTEMSINGLES-----------FNL-000100----------

In [56]:
match_actions_df= match_df['data'].str.get('ACTIONTYPE')

In [68]:
df_working = match_df[['data']].copy()
df_working['ACTIONTYPE'] = df_working['data'].str.get('ACTIONTYPE')
df_working['COMMENTARYTEXT'] = df_working['data'].str.get('COMMENTARYTEXT')

# 2. Select only the necessary columns for the final result
df_unique_actions = df_working[['ACTIONTYPE', 'COMMENTARYTEXT']].copy()

# 3. Drop duplicates based on 'ACTIONTYPE', keeping the first occurrence.
# This ensures you see the first unique comment for every type.
unique_actions_df = df_unique_actions.drop_duplicates(
    subset=['ACTIONTYPE'], 
    keep='first'
)

# 4. Display the results
print("--- Unique Action Types and Their First Corresponding Comment ---")
print(unique_actions_df.to_string(index=False))

--- Unique Action Types and Their First Corresponding Comment ---
ACTIONTYPE                                                                                                                                                 COMMENTARYTEXT
        SL                                           Start of Men's Singles - Final - Match 1 between WEN Ruibo and DUDA Benedikt in Sports Center Jane Sandanski Table 1
       SSD                                                                                                                        No commentary available for this action
       SSR                                                                                                                             Service change: WEN Ruibo to serve
        LV                                                                                                                       Men's Singles - Final - Match 1 Live now
       STP                                                                                                                        No commentary available for this action
        PT                                                                      Point won by WEN Ruibo, Game G1, Game Scores 1-0,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
    GPOINT                                                                         GAME POINT: G1 to WEN Ruibo, Game Scores 10-9,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
        IM                                                                      Game won by WEN Ruibo, Game G2, Game Scores 11-9,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
       LET                                                                                                                        No commentary available for this action
        TO                                                                                                                  Timeout: Requested by DUDA Benedikt : Started
    MPOINT                                                             Championship POINT: DUDA Benedikt, Game Scores 11-9,6-11,11-5,11-13,6-11,0-10,0-0, Match Score 2-3
        OF Official confirmation of Match: Men's Singles - Final - Match 1 won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-11,0-0, match score 2-4

In [84]:
for item in match_df["data"]:
    num = item.get("SEQUENCENUMBER")
    action =  item.get("ACTIONTYPE")
    text = item.get("COMMENTARYTEXT")
    if text:
        if "duda" in text.lower() or "net" in text.lower():
            print(f"Sequence Number: {num} | Action Type: {action} | Commentary Text: {text}")

Sequence Number: 1 | Action Type: SL | Commentary Text: Start of Men's Singles - Final - Match 1 between WEN Ruibo and DUDA Benedikt in Sports Center Jane Sandanski Table 1
Sequence Number: 10 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 12 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 2-1,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 14 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 2-2,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 20 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 22 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 4-3,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 30 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 32 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 7-4,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 34 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 7-5,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 37 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 7-6,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 40 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 42 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 8-7,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 44 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 8-8,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 47 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G1, Game Scores 8-9,0-0,0-0,0-0,0-0,0-0,0-0, Match Score 0-0
Sequence Number: 50 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 56 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 61 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,1-1,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 67 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 69 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,3-2,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 71 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,3-3,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 74 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,3-4,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 77 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 79 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,4-5,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 86 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,5-6,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 88 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,5-7,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 89 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 93 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,6-8,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 96 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,6-9,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 98 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 99 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,6-10,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 100 | Action Type: GPOINT | Commentary Text: GAME POINT: G2 to DUDA Benedikt, Game Scores 11-9,6-10,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 102 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G2, Game Scores 11-9,6-11,0-0,0-0,0-0,0-0,0-0, Match Score 1-0
Sequence Number: 103 | Action Type: IM | Commentary Text: Game won by DUDA Benedikt, Game G3, Game Scores 11-9,6-11,0-0,0-0,0-0,0-0,0-0, Match Score 1-1
Sequence Number: 108 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 118 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 122 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G3, Game Scores 11-9,6-11,7-1,0-0,0-0,0-0,0-0, Match Score 1-1
Sequence Number: 125 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G3, Game Scores 11-9,6-11,7-2,0-0,0-0,0-0,0-0, Match Score 1-1
Sequence Number: 128 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 136 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G3, Game Scores 11-9,6-11,10-3,0-0,0-0,0-0,0-0, Match Score 1-1
Sequence Number: 139 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G3, Game Scores 11-9,6-11,10-4,0-0,0-0,0-0,0-0, Match Score 1-1
Sequence Number: 141 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 143 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G3, Game Scores 11-9,6-11,10-5,0-0,0-0,0-0,0-0, Match Score 1-1
Sequence Number: 147 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 152 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,1-1,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 155 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,1-2,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 157 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,1-3,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 158 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 160 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,1-4,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 167 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,3-5,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 168 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 170 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,3-6,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 175 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,4-7,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 177 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,4-8,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 178 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 185 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,6-9,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 188 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 190 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,7-10,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 191 | Action Type: GPOINT | Commentary Text: GAME POINT: G4 to DUDA Benedikt, Game Scores 11-9,6-11,11-5,7-10,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 194 | Action Type: GPOINT | Commentary Text: GAME POINT: G4 to DUDA Benedikt, Game Scores 11-9,6-11,11-5,8-10,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 198 | Action Type: GPOINT | Commentary Text: GAME POINT: G4 to DUDA Benedikt, Game Scores 11-9,6-11,11-5,9-10,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 199 | Action Type: TO | Commentary Text: Timeout: Requested by DUDA Benedikt : Started
Sequence Number: 202 | Action Type: TO | Commentary Text: Timeout: Requested by DUDA Benedikt : Ended
Sequence Number: 205 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 207 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,10-11,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 208 | Action Type: GPOINT | Commentary Text: GAME POINT: G4 to DUDA Benedikt, Game Scores 11-9,6-11,11-5,10-11,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 212 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 214 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,11-12,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 215 | Action Type: GPOINT | Commentary Text: GAME POINT: G4 to DUDA Benedikt, Game Scores 11-9,6-11,11-5,11-12,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 218 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G4, Game Scores 11-9,6-11,11-5,11-13,0-0,0-0,0-0, Match Score 2-1
Sequence Number: 220 | Action Type: IM | Commentary Text: Game won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,0-0,0-0,0-0, Match Score 2-2
Sequence Number: 224 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,1-1,0-0,0-0, Match Score 2-2
Sequence Number: 225 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 227 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,1-2,0-0,0-0, Match Score 2-2
Sequence Number: 229 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,1-3,0-0,0-0, Match Score 2-2
Sequence Number: 235 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 237 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,3-4,0-0,0-0, Match Score 2-2
Sequence Number: 239 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,3-5,0-0,0-0, Match Score 2-2
Sequence Number: 242 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,3-6,0-0,0-0, Match Score 2-2
Sequence Number: 244 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,3-7,0-0,0-0, Match Score 2-2
Sequence Number: 245 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 249 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,4-8,0-0,0-0, Match Score 2-2
Sequence Number: 252 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,4-9,0-0,0-0, Match Score 2-2
Sequence Number: 255 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 257 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,5-10,0-0,0-0, Match Score 2-2
Sequence Number: 258 | Action Type: GPOINT | Commentary Text: GAME POINT: G5 to DUDA Benedikt, Game Scores 11-9,6-11,11-5,11-13,5-10,0-0,0-0, Match Score 2-2
Sequence Number: 261 | Action Type: GPOINT | Commentary Text: GAME POINT: G5 to DUDA Benedikt, Game Scores 11-9,6-11,11-5,11-13,6-10,0-0,0-0, Match Score 2-2
Sequence Number: 264 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G5, Game Scores 11-9,6-11,11-5,11-13,6-11,0-0,0-0, Match Score 2-2
Sequence Number: 265 | Action Type: IM | Commentary Text: Game won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-0,0-0, Match Score 2-3
Sequence Number: 269 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-1,0-0, Match Score 2-3
Sequence Number: 271 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-2,0-0, Match Score 2-3
Sequence Number: 274 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-3,0-0, Match Score 2-3
Sequence Number: 278 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-4,0-0, Match Score 2-3
Sequence Number: 279 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 281 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-5,0-0, Match Score 2-3
Sequence Number: 283 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-6,0-0, Match Score 2-3
Sequence Number: 286 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-7,0-0, Match Score 2-3
Sequence Number: 288 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-8,0-0, Match Score 2-3
Sequence Number: 289 | Action Type: SSR | Commentary Text: Service change: DUDA Benedikt to serve
Sequence Number: 291 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-9,0-0, Match Score 2-3
Sequence Number: 293 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-10,0-0, Match Score 2-3
Sequence Number: 294 | Action Type: MPOINT | Commentary Text: Championship POINT: DUDA Benedikt, Game Scores 11-9,6-11,11-5,11-13,6-11,0-10,0-0, Match Score 2-3
Sequence Number: 297 | Action Type: PT | Commentary Text: Point won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-11,0-0, Match Score 2-4
Sequence Number: 298 | Action Type: OF | Commentary Text: Official confirmation of Match: Men's Singles - Final - Match 1 won by DUDA Benedikt, Game G6, Game Scores 11-9,6-11,11-5,11-13,6-11,0-11,0-0, match score 2-4