In [ ]:
import sys
import os
import pandas as pd
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))

if project_root not in sys.path:
    sys.path.append(project_root)
    

from utils.getLatestFiles import get_latest_master_players, get_latest_master_matches, get_latest_master_events

from utils.winrates import get_player_winrates

In [2]:
master_players_df = get_latest_master_players()
master_matches_df = get_latest_master_matches()
master_events_df = get_latest_master_events()

✅ 2684 players found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Players/20251113_master_players.csv
✅ 23690 matches found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Matches/20251112_master_matches.csv
✅ 187 events found in latest MASTER: /home/mdannegarn/table_tennis_stats/Data/Master/Events/20251113_master_events.csv

In [15]:



overall_winrates_df = get_player_winrates(master_players_df, master_matches_df, min_matches=5, info_string="Overall")

In [16]:
overall_winrates_df

,playerId,PlayerName,CountryName,WinRate (Overall),TotalMatches (Overall),TotalWins (Overall),TotalLosses (Overall)
0,131163,SUN Yingsha,China,91.26,183,167,16
1,121558,WANG Chuqin,China,86.50,163,141,22
2,114947,Valeriia KOTSIUR,AIN,85.71,14,12,2
3,121404,FAN Zhendong,China,84.95,93,79,14
4,210318,XU Jiayi,China,83.33,6,5,1
...,...,...,...,...,...,...,...
1246,135639,Akos KISHEGYI,Hungary,0.00,5,0,5
1247,136566,Lukas KRAEMER,Austria,0.00,6,0,6
1248,134567,Andre Pierre KASES,Austria,0.00,11,0,11
1249,202502,Tammi AGARI,Papua New Guinea,0.00,7,0,7
1250,134339,Klara HRABICOVA,Czechia,0.00,10,0,10

In [69]:
grippy_tables = ["DHS", "Double Fish", "Yinhe"]
fast_tables = ["Tibhar", "Stiga", "Joola", "Donic"]
grippy_event_ids = master_events_df[master_events_df["TableSponsor"].isin(grippy_tables)]["eventId"].unique()
fast_event_ids = master_events_df[master_events_df["TableSponsor"].isin(fast_tables)]["eventId"].unique()

grippy_matches_df = master_matches_df[master_matches_df["eventId"].isin(grippy_event_ids)]
fast_matches_df = master_matches_df[master_matches_df["eventId"].isin(fast_event_ids)]

In [70]:
grippy_winrates_df = get_player_winrates(master_players_df, grippy_matches_df, 
                                         min_matches=10, info_string ="grippy tables")
fast_winrates_df = get_player_winrates(master_players_df, fast_matches_df,
                                        min_matches=10, info_string="fast tables")

In [71]:
grippy_winrates_df

,playerId,PlayerName,CountryName,WinRate (grippy tables),TotalMatches (grippy tables),TotalWins (grippy tables),TotalLosses (grippy tables)
0,131163,SUN Yingsha,China,92.26,155,143,12
1,135179,Haruna OJIO,Japan,90.00,10,9,1
2,121558,WANG Chuqin,China,87.69,130,114,16
3,121404,FAN Zhendong,China,85.71,77,66,11
4,119529,FAN Siqi,China,84.00,25,21,4
...,...,...,...,...,...,...,...
352,120726,Mariam ALHODABY,Egypt,10.53,19,2,17
353,134356,Arantxa COSSIO,Mexico,9.09,11,1,10
354,100439,Ahmed SALEH,Egypt,9.09,11,1,10
355,123935,Vicky WU,Fiji,7.69,13,1,12
356,109777,Paulina VEGA,Chile,6.25,16,1,15

In [73]:
fast_winrates_df

,playerId,PlayerName,CountryName,WinRate (fast tables),TotalMatches (fast tables),TotalWins (fast tables),TotalLosses (fast tables)
0,121404,FAN Zhendong,China,90.00,10,9,1
1,131163,SUN Yingsha,China,88.89,18,16,2
2,119588,LIANG Jingkun,China,86.21,29,25,4
3,133000,Honoka HASHIMOTO,Japan,84.38,32,27,5
4,121558,WANG Chuqin,China,84.00,25,21,4
...,...,...,...,...,...,...,...
532,123666,Katarina STRAZAR,Slovenia,7.14,14,1,13
533,123198,Elisavet TERPOU,Greece,0.00,12,0,12
534,134158,Aljaz GODEC,Slovenia,0.00,11,0,11
535,134176,Tjasa NOVAK,Slovenia,0.00,10,0,10
536,134339,Klara HRABICOVA,Czechia,0.00,10,0,10

In [74]:
fast_vs_grippy_df = grippy_winrates_df.merge(fast_winrates_df, how="inner", on=["playerId", "PlayerName", "CountryName"])

In [75]:
fast_vs_grippy_df

,playerId,PlayerName,CountryName,WinRate (grippy tables),TotalMatches (grippy tables),TotalWins (grippy tables),TotalLosses (grippy tables),WinRate (fast tables),TotalMatches (fast tables),TotalWins (fast tables),TotalLosses (fast tables)
0,131163,SUN Yingsha,China,92.26,155,143,12,88.89,18,16,2
1,135179,Haruna OJIO,Japan,90.00,10,9,1,68.18,22,15,7
2,121558,WANG Chuqin,China,87.69,130,114,16,84.00,25,21,4
3,121404,FAN Zhendong,China,85.71,77,66,11,90.00,10,9,1
4,121411,WANG Manyu,China,83.09,136,113,23,80.00,15,12,3
...,...,...,...,...,...,...,...,...,...,...,...
315,111512,Daniel GONZALEZ,Puerto Rico,14.29,21,3,18,27.78,18,5,13
316,113908,Yousra HELMY,Egypt,14.29,21,3,18,33.33,21,7,14
317,120726,Mariam ALHODABY,Egypt,10.53,19,2,17,33.33,12,4,8
318,134356,Arantxa COSSIO,Mexico,9.09,11,1,10,42.11,19,8,11
319,109777,Paulina VEGA,Chile,6.25,16,1,15,33.33,27,9,18

In [80]:
fast_vs_grippy_df["Fast vs Grippy Winrate Diff"] = fast_vs_grippy_df["WinRate (fast tables)"] - fast_vs_grippy_df["WinRate (grippy tables)"]
fast_vs_grippy_df["Fast vs Grippy Winrate Diff"] = fast_vs_grippy_df["Fast vs Grippy Winrate Diff"].round(2)

In [81]:
fast_vs_grippy_df = fast_vs_grippy_df.sort_values(by=["Fast vs Grippy Winrate Diff"], ascending=False)

In [83]:
fast_vs_grippy_df = fast_vs_grippy_df[["playerId", "PlayerName", "CountryName", "WinRate (fast tables)", "WinRate (grippy tables)", "Fast vs Grippy Winrate Diff", "TotalMatches (fast tables)", "TotalMatches (grippy tables)"]]

In [87]:
fast_vs_grippy_df.columns

Index(['playerId', 'PlayerName', 'CountryName', 'WinRate (fast tables)',
       'WinRate (grippy tables)', 'Fast vs Grippy Winrate Diff',
       'TotalMatches (fast tables)', 'TotalMatches (grippy tables)'],
      dtype='object')

In [86]:
fast_vs_grippy_df[fast_vs_grippy_df["CountryName"] =="France"]

,playerId,PlayerName,CountryName,WinRate (fast tables),WinRate (grippy tables),Fast vs Grippy Winrate Diff,TotalMatches (fast tables),TotalMatches (grippy tables)
284,134718,Thibault PORET,France,57.14,31.25,25.89,28,16
195,122002,Lilian BARDET,France,60.78,45.45,15.33,51,22
181,131100,Prithika PAVADE,France,61.90,47.17,14.73,42,53
263,116874,Audrey ZARIF,France,50.98,36.67,14.31,51,30
98,132992,Alexis LEBRUN,France,65.91,55.17,10.74,44,58
126,112062,Simon GAUZY,France,61.36,52.24,9.12,44,67
150,123300,Jules ROLLAND,France,58.93,50.00,8.93,56,18
31,135977,Felix LEBRUN,France,76.47,70.51,5.96,51,78
187,122095,Bastien REMBERT,France,52.00,46.15,5.85,25,13
60,117003,Alexandre CASSIN,France,66.67,61.29,5.38,24,31
106,135501,Charlotte LUTZ,France,58.70,54.17,4.53,46,24
244,116921,Pauline CHASSELIN,France,42.86,40.00,2.86,14,10
92,133652,Esteban DORR,France,58.33,56.25,2.08,24,16
147,137894,Jia Nan YUAN,France,50.00,50.00,0.00,22,66
87,117002,Joe SEYFRIED,France,55.88,57.14,-1.26,34,14
216,105136,Emmanuel LEBESSON,France,41.67,43.75,-2.08,12,16
114,120857,Florian BOURRASSAUD,France,50.00,53.33,-3.33,20,15
102,134590,Hugo DESCHAMPS,France,50.00,54.55,-4.55,12,11
53,116612,Can AKKUZU,France,55.26,62.86,-7.60,38,35
131,123550,Camille LUTZ,France,41.38,51.61,-10.23,29,31

In [88]:
def get_country_winrate_diffs(player_stats_df: pd.DataFrame, min_players: int = 1) -> pd.DataFrame:
    """
    Aggregates player-level win rate differences up to the country level.

    Args:
        player_stats_df (pd.DataFrame): The DataFrame from your example, containing
                                        ['CountryName', 'Fast vs Grippy Winrate Diff', 'playerId'].
        min_players (int, optional): The minimum number of players a country must have
                                     to be included in the final report. Defaults to 1.

    Returns:
        pd.DataFrame: A DataFrame indexed by CountryName, showing the average difference
                      and the number of players.
    """
    
    # 1. Group by 'CountryName' and aggregate multiple stats at once
    country_stats_df = player_stats_df.groupby('CountryName').agg(
        # Calculate the mean of the difference column
        Average_WinRate_Diff=('Fast vs Grippy Winrate Diff', 'mean'),
        
        # Count the number of unique players from that country
        PlayerCount=('playerId', 'nunique')
    )
    
    # 2. Apply the minimum player filter
    if min_players > 1:
        country_stats_df = country_stats_df[country_stats_df['PlayerCount'] >= min_players]
        
    # 3. Sort by the average difference (descending)
    country_stats_df = country_stats_df.sort_values(by='Average_WinRate_Diff', ascending=False)
    
    # 4. Round the average for cleaner output
    country_stats_df['Average_WinRate_Diff'] = country_stats_df['Average_WinRate_Diff'].round(2)
    
    return country_stats_df

In [90]:
country_diff_report = get_country_winrate_diffs(fast_vs_grippy_df, min_players=5)

print("--- Average Win Rate Difference by Country (min 5 players) ---")
display(country_diff_report)

--- Average Win Rate Difference by Country (min 5 players) ---

                  Average_WinRate_Diff  PlayerCount
CountryName
Egypt                            20.66            7
Sweden                           10.97            7
Brazil                            9.70            6
Romania                           8.46           14
Singapore                         7.92            8
Portugal                          7.92            6
Germany                           5.98           17
Croatia                           5.37            8
France                            4.83           20
Japan                             3.67           25
Korea Republic                    3.55           21
Austria                           3.51            5
England                           2.79            5
Hong Kong, China                  2.31           10
India                             1.95           17
Italy                             1.65            6
Poland                            1.48            7
Chinese Taipei                    0.85           18
China                            -0.42           39
Slovak Republic                  -1.06            5

In [91]:
import pandas as pd
import numpy as np

def get_country_winrate_diffs_weighted(player_stats_df: pd.DataFrame, min_players: int = 1) -> pd.DataFrame:
    """
    Aggregates player-level win rate differences up to the country level,
    weighted by the total number of matches each player played.

    Args:
        player_stats_df (pd.DataFrame): The DataFrame from your example, containing
                                        ['CountryName', 'Fast vs Grippy Winrate Diff', 
                                         'TotalMatches (fast tables)', 'TotalMatches (grippy tables)',
                                         'playerId'].
        min_players (int, optional): The minimum number of players a country must have
                                     to be included in the final report. Defaults to 1.

    Returns:
        pd.DataFrame: A DataFrame indexed by CountryName, showing the weighted
                      average difference, total matches, and player count.
    """
    
    # --- Weighted Average Calculation ---
    
    # 1. Create a copy to avoid modifying your original DataFrame
    df_copy = player_stats_df.copy()
    
    # 2. Calculate the "Weight" for each player (their total matches)
    df_copy['PlayerTotalMatches'] = df_copy['TotalMatches (fast tables)'] + df_copy['TotalMatches (grippy tables)']
    
    # 3. Calculate the "Weighted Value" for each player
    # (Player's Diff * Player's Total Matches)
    df_copy['WeightedDiff'] = df_copy['Fast vs Grippy Winrate Diff'] * df_copy['PlayerTotalMatches']
    
    # 4. Group by 'CountryName' and sum up the components
    country_stats_df = df_copy.groupby('CountryName').agg(
        # Get the sum of all weighted diffs
        TotalWeightedDiff=('WeightedDiff', 'sum'),
        
        # Get the sum of all matches (this is our total weight)
        TotalCountryMatches=('PlayerTotalMatches', 'sum'),
        
        # Count unique players for the filter
        PlayerCount=('playerId', 'nunique')
    )
    
    # 5. Calculate the final Weighted Average
    # (Sum of all WeightedDiffs) / (Sum of all TotalMatches)
    # Use .fillna(0) in case TotalCountryMatches is 0 to avoid DivisionByZeroError
    country_stats_df['WeightedAvg_WinRate_Diff'] = (
        country_stats_df['TotalWeightedDiff'] / country_stats_df['TotalCountryMatches']
    ).fillna(0)
    
    # --- End of Calculation ---
    
    
    # 6. Apply the minimum player filter
    if min_players > 1:
        country_stats_df = country_stats_df[country_stats_df['PlayerCount'] >= min_players]
        
    # 7. Sort by the weighted average difference (descending)
    country_stats_df = country_stats_df.sort_values(by='WeightedAvg_WinRate_Diff', ascending=False)
    
    # 8. Clean up for the final report
    country_stats_df['WeightedAvg_WinRate_Diff'] = country_stats_df['WeightedAvg_WinRate_Diff'].round(2)
    
    # Return the clean, final table, dropping the intermediate calculation column
    return country_stats_df.drop(columns=['TotalWeightedDiff'])

In [94]:
country_weighted_report = get_country_winrate_diffs_weighted(fast_vs_grippy_df, min_players=5)

In [107]:
finals_df = master_matches_df[master_matches_df["Round"]=="Final"]
finals_winrates_df = get_player_winrates(master_players_df, finals_df, min_matches=1, info_string="Finals")    
finals_winrates_df = finals_winrates_df.sort_values(by=["WinRate (Finals)", "TotalMatches (Finals)"], ascending=False)
finals_winrates_df

,playerId,PlayerName,CountryName,WinRate (Finals),TotalMatches (Finals),TotalWins (Finals),TotalLosses (Finals)
25,117821,Mima ITO,Japan,100.0,5,5,0
2,134800,Nicholas LUM,Australia,100.0,3,3,0
23,119542,Sakura MORI,Japan,100.0,3,3,0
0,134442,Hiroto SHINOZUKA,Japan,100.0,2,2,0
8,123971,CHO Daeseong,Korea Republic,100.0,2,2,0
...,...,...,...,...,...,...,...
232,137238,HUANG Youzheng,China,0.0,1,0,1
233,121408,LIU Dingshuo,China,0.0,1,0,1
235,116874,Audrey ZARIF,France,0.0,1,0,1
236,134246,Amirreza ABBASI,Iran,0.0,1,0,1
238,136180,Elvira RAD,Spain,0.0,1,0,1

In [108]:
master_matches_df.columns

Index(['eventId', 'documentCode', 'subEventName', 'subEventDescription',
       'venueName', 'tableName', 'dnf', 'ttrReview', 'serverNext',
       'duration (unreliable)', 'EventName', 'EventStartDate', 'matchDate',
       'overallScore', 'gameScore', 'Winner', 'bestOf', 'winnerName',
       'winnerId', 'winnerCountry', 'loserName', 'loserId', 'loserCountry',
       'winnerSets', 'loserSets', 'totalSets', 'isStraightSets', 'isDecider',
       'winnerTotalPoints', 'loserTotalPoints', 'totalPoints',
       'winnerPointsRatio', 'loserPointsRatio', 'winnerMaxScore',
       'loserMaxScore', 'maxScore', 'numberDeuceGames', 'winnerDeuceWon',
       'loserDeuceWon', 'winnerPointsDifference', 'pointsPerSet',
       'winnerDroppedFirstSet', 'winner0Wins', 'winner1Wins', 'winner4Wins',
       'loser0Wins', 'loser1Wins', 'loser4Wins', 'winnerAvgWinningMargin',
       'loserAvgWinningMargin', 'comebackBy2', 'comebackBy3',
       'winnerAvgPointsPerSet', 'loserAvgPointsPerSet', 'Round'],
      dtype='object')

In [116]:
bo_5_filter = master_matches_df["bestOf"] == 5
comeback_from_2_filter = master_matches_df["comebackBy2"] == True

bo5_comeback_mask = bo_5_filter & comeback_from_2_filter
bo5_comeback_df = master_matches_df[bo5_comeback_mask]

bo7_filter = master_matches_df["bestOf"] == 7
comeback_from_3_filter = master_matches_df["comebackBy3"] == True

bo7_comeback_mask = bo7_filter & comeback_from_3_filter
bo7_comeback_df = master_matches_df[bo7_comeback_mask]

In [114]:
bo5_comeback_df

,eventId,documentCode,subEventName,subEventDescription,venueName,tableName,dnf,ttrReview,serverNext,duration (unreliable),...,loser0Wins,loser1Wins,loser4Wins,winnerAvgWinningMargin,loserAvgWinningMargin,comebackBy2,comebackBy3,winnerAvgPointsPerSet,loserAvgPointsPerSet,Round
5,2410,TTEMSINGLES-----------RND1001800--,Men Singles,Men's Singles - Preliminary Round 1 - Match 18,Lusail Sports Arena,Table 8,False,NaN,NaN,00:30:44,...,0.0,0.0,0.0,4.00,5.0,True,False,9.0,8.6,Other
45,2410,TTEMSINGLES-----------RND2000400--,Men Singles,Men's Singles - Preliminary Round 2 - Match 4,Lusail Sports Arena,Table 5,False,NaN,NaN,00:49:08,...,0.0,0.0,0.0,2.67,3.5,True,False,10.8,10.6,Other
99,2410,TTEWSINGLES-----------RND2002200--,Women Singles,Women's Singles - Preliminary Round 2 - Match 22,Lusail Sports Arena,Table 3,False,NaN,NaN,00:40:01,...,0.0,0.0,0.0,3.00,4.5,True,False,9.2,9.2,Other
121,2410,TTEMSINGLES-----------RND3000400--,Men Singles,Men's Singles - Preliminary Round 3 - Match 4,Lusail Sports Arena,Table 7,False,NaN,NaN,00:37:51,...,0.0,0.0,0.0,4.67,3.0,True,False,9.8,8.2,Other
131,2410,TTEMSINGLES-----------RND3001200--,Men Singles,Men's Singles - Preliminary Round 3 - Match 12,Lusail Sports Arena,Table 8,False,NaN,NaN,00:45:28,...,0.0,0.0,0.0,3.00,5.0,True,False,9.4,9.6,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23602,3066,TTEWSINGLES-----------R64-002300----------,Women's Singles,Women's Singles - Round of 64 - Match 23,Pavilhao Municipal de Vila Nova de Gaia,Table 3,False,False,119109.0,00:35:09,...,0.0,0.0,0.0,5.33,3.5,True,False,9.6,7.8,Other
23605,3066,TTEWSINGLES-----------R64-001900----------,Women's Singles,Women's Singles - Round of 64 - Match 19,Pavilhao Municipal de Vila Nova de Gaia,Table 6,False,False,112453.0,00:39:11,...,0.0,0.0,0.0,4.00,3.5,True,False,9.6,8.6,Other
23649,3066,TTEMSINGLES-----------R32-000200----------,Men's Singles,Men's Singles - Round of 32 - Match 2,Pavilhao Municipal de Vila Nova de Gaia,Table 6,False,False,114410.0,00:47:21,...,0.0,0.0,0.0,3.00,3.5,True,False,10.4,10.0,Other
23656,3066,TTEMSINGLES-----------R32-001300----------,Men's Singles,Men's Singles - Round of 32 - Match 13,Pavilhao Municipal de Vila Nova de Gaia,Table 2,False,False,120287.0,00:38:12,...,0.0,0.0,0.0,3.67,4.0,True,False,9.4,8.8,Other
23682,3066,TTEMSINGLES-----------QFNL000200----------,Men's Singles,Men's Singles - Quarterfinal - Match 2,Pavilhao Municipal de Vila Nova de Gaia,Table 1,False,False,102841.0,00:50:21,...,0.0,0.0,1.0,4.00,6.0,True,False,9.2,9.2,Quarterfinal

In [117]:
bo7_comeback_df

,eventId,documentCode,subEventName,subEventDescription,venueName,tableName,dnf,ttrReview,serverNext,duration (unreliable),...,loser0Wins,loser1Wins,loser4Wins,winnerAvgWinningMargin,loserAvgWinningMargin,comebackBy2,comebackBy3,winnerAvgPointsPerSet,loserAvgPointsPerSet,Round
430,2345,TTEWSINGLES-----------R128000800----------,Women's Singles,Women's Singles Round 1,Tokyo Metropolitan Gym,Table 3,False,NaN,NaN,0:58,...,0.0,0.0,0.0,4.75,2.33,True,True,10.14,8.43,Other
500,2345,TTEWSINGLES-----------R32-000300----------,Women's Singles,Women's Singles Round 3,Tokyo Metropolitan Gym,Table 3,False,NaN,NaN,1:02,...,0.0,0.0,1.0,4.50,4.67,True,True,9.00,8.43,Other
969,2484,TTEWSINGLES-----------GP04000200----------,Women Singles,Women's Singles - Group 4 - Match 2,Table Tennis Center «SARYARKA»,Table 3,False,True,NaN,00:38:51,...,0.0,0.0,1.0,6.25,5.00,True,True,8.86,7.43,Other
980,2484,TTEMSINGLES-----------GP06000300----------,Men Singles,Men's Singles - Group 6 - Match 3,Table Tennis Center «SARYARKA»,Table 2,False,False,NaN,00:43:00,...,0.0,0.0,0.0,4.25,3.33,True,True,9.57,8.57,Other
1185,2489,TTEWSINGLES-----------SFNL000100----------,Women Singles,Women's Singles - Semifinals - Match 1,Lusail Sports Arena,Table 1,False,False,NaN,00:30:00,...,0.0,0.0,0.0,4.50,2.67,True,True,9.86,8.43,Semifinal
1986,2346,TTEMSINGLES-----------8FNL000500----------,Men's Singles,Men's Singles - Round of 16 - Match 5,George R. Brown Convention Center,Table 2,False,False,NaN,00:57:24,...,0.0,0.0,0.0,5.75,3.00,True,True,10.29,8.29,Other
2007,2346,TTEMSINGLES-----------QFNL000200----------,Men's Singles,Men's Singles - Quarterfinals - Match 2,George R. Brown Convention Center,Table 1,False,False,NaN,01:13:26,...,0.0,0.0,0.0,4.00,2.67,True,True,10.29,9.14,Quarterfinal
2165,2479,TTEMSINGLES-----------FNL-000100----------,Men's Singles,Men's Singles - Finals - Match 1,Kisakallio Sports Institute,Table 1,False,False,NaN,01:07:16,...,0.0,0.0,2.0,2.00,5.67,True,True,10.00,11.29,Final
2271,2521,TTEMSINGLES-----------R64-002100----------,Men's Singles,Men's Singles - Round of 64 - Match 21,Deutsches Tischtennis- Zentrum,Table 2,False,False,NaN,00:53:10,...,0.0,0.0,0.0,5.00,2.67,True,True,10.43,8.71,Other
2288,2521,TTEWSINGLES-----------R32-001300----------,Women's Singles,Women's Singles - Round of 32 - Match 13,Deutsches Tischtennis- Zentrum,Table 2,False,False,NaN,00:50:26,...,0.0,0.0,1.0,4.75,5.00,True,True,8.86,8.29,Other
2318,2521,TTEMSINGLES-----------8FNL000300----------,Men's Singles,Men's Singles - Round of 16 - Match 3,Deutsches Tischtennis- Zentrum,Table 2,False,False,NaN,01:01:38,...,0.0,0.0,0.0,4.00,2.67,True,True,9.86,8.71,Other
2420,2522,TTEMSINGLES-----------R32-000400----------,Men's Singles,Men's Singles - Round of 32 - Match 4,Deutsches Tischtennis- Zentrum,Table 2,False,False,NaN,00:47:13,...,0.0,0.0,0.0,6.25,3.67,True,True,9.43,7.43,Other
4273,2540,TTEWSINGLES-----------R64-000300----------,Women's Singles,Women's Singles - Round of 64 - Match 3,Sport Centre Otocec,Table 5,False,False,NaN,00:51:17,...,0.0,0.0,1.0,5.25,3.67,True,True,10.14,8.71,Other
4706,2592,TTEMSINGLES-----------R64-002000----------,Men's Singles,Men's Singles - Round of 64 - Match 20,BOK Hall,Table 4,False,False,NaN,01:04:34,...,0.0,0.0,0.0,2.75,2.33,True,True,10.14,9.57,Other
4818,2593,TTEMSINGLES-----------FNL-000100----------,Men's Singles,Men's Singles - Final - Match 1,BOK Hall,Table 1,False,False,NaN,00:59:53,...,0.0,0.0,1.0,3.50,4.67,True,True,9.71,9.71,Final
5155,2541,TTEWSINGLES-----------R32-001000----------,Women's Singles,Women's Singles - Round of 32 - Match 10,OMEGA Sport Center,Table 4,False,False,NaN,00:51:51,...,0.0,0.0,0.0,3.00,4.67,True,True,9.14,9.43,Other
5330,2542,TTEMSINGLES-----------R32-000400----------,Men's Singles,Men's Singles - Round of 32 - Match 4,Arena Asarel,Table 4,False,False,NaN,00:46:26,...,1.0,0.0,1.0,4.25,7.00,True,True,8.14,8.71,Other
5383,2609,TTEWSINGLES-----------R64-002700----------,Women's Singles,Women's Singles - Round of 64 - Match 27,La Coupole- Cit? Olympique,Table 6,False,True,NaN,00:45:09,...,0.0,0.0,0.0,2.50,4.67,True,True,9.71,10.29,Other
5802,2606,TTEMSINGLES-----------FNL-000100----------,Men's Singles,Men's Singles - Final - Match 1,Table Tennis Centre ADD,Table 1,False,False,NaN,01:03:52,...,0.0,0.0,0.0,4.00,3.33,True,True,9.71,8.86,Final
6080,2611,TTEMSINGLES-----------R64-002700----------,Men's Singles,Men's Singles - Round of 64 - Match 27,Centro de Entrenamiento Olimpico,Table 2,False,False,121440.0,00:54:30,...,0.0,0.0,0.0,3.00,5.00,True,True,9.14,9.57,Other
6133,2611,TTEMSINGLES-----------R32-001400----------,Men's Singles,Men's Singles - Round of 32 - Match 14,Centro de Entrenamiento Olimpico,Table 3,False,False,105679.0,01:04:15,...,0.0,0.0,0.0,4.00,3.00,True,True,10.29,9.29,Other
6298,2658,TTEMSINGLES-----------R64-001800----------,Men's Singles,Men's Singles - Round of 64 - Match 18,Deutsches Tischtennis- Zentrum,Table 5,False,False,136567.0,01:15:42,...,0.0,0.0,0.0,4.50,5.33,True,True,8.71,8.43,Other
10437,2789,TTEMSINGLES-----------R64-000300----------,Men's Singles,Men's Singles - Round of 64 - Match 3,Expocuba Pablell?n Salud #20,Table 3,False,True,111498.0,00:43:39,...,0.0,0.0,1.0,3.75,5.00,True,True,9.14,9.14,Other
14309,2937,TTEMSINGLES-----------FNL-000100----------,Men's Singles,Men's Singles - Final - Match 1,Galaxy Arena,Table 1,False,False,105649.0,01:03:44,...,0.0,0.0,0.0,4.50,3.33,True,True,9.57,8.43,Final
15791,2603,TTEMSINGLES-----------R64-000400----------,Men's Singles,Men's Singles Round of 64,South Paris Arena 4,Table 4,False,False,NaN,0:52,...,0.0,0.0,0.0,2.25,3.33,True,True,10.00,10.14,Other
15810,2603,TTEWSINGLES-----------8FNL000300----------,Women's Singles,Women's Singles Round of 16,South Paris Arena 4,Table 3,False,False,NaN,0:58,...,0.0,0.0,0.0,3.50,4.00,True,True,9.29,9.00,Other
15830,2603,TTEMSINGLES-----------R64-000600----------,Men's Singles,Men's Singles Round of 64,South Paris Arena 4,Table 2,False,False,NaN,1:09,...,0.0,0.0,0.0,4.00,2.00,True,True,10.14,8.71,Other
16939,2917,TTEWSINGLES-----------FNL-000100----------,Women's Singles,Women's Singles - Final - Match 1,Auckland Table Tennis Association,Table 1,False,True,104092.0,00:00:00,...,0.0,1.0,1.0,3.50,6.67,True,True,8.71,9.57,Final
20270,3108,TTEMSINGLES-----------R64-001900----------,Men's Singles,Men's Singles - Round of 64 - Match 19,Qatar University,Table 8,False,True,116021.0,00:59:10,...,0.0,0.0,1.0,4.75,5.33,True,True,9.29,8.86,Other
20337,3108,TTEMSINGLES-----------R32-001300----------,Men's Singles,Men's Singles - Round of 32 - Match 13,Lusail,Table 2,False,True,123971.0,00:57:13,...,0.0,0.0,0.0,5.50,3.33,True,True,9.57,7.86,Other
21307,3082,TTEWSINGLES-----------QFNL000100----------,Women's Singles,Women's Singles Quarterfinal - Match 1,Orleans Arena,Table 1,False,True,132132.0,01:05:09,...,0.0,0.0,0.0,4.25,4.33,True,True,9.14,8.57,Quarterfinal
23403,3099,TTEWSINGLES-----------QFNL000100----------,Women's Singles,Women's Singles - Quarterfinal - Match 1,Sud de France ARENA,Table 1,False,False,115543.0,00:57:11,...,0.0,0.0,0.0,4.25,2.33,True,True,10.29,8.86,Quarterfinal

In [119]:
bo5_comeback_winrates_df = get_player_winrates(master_players_df, bo5_comeback_df, min_matches=1, info_string="Bo5 Comeback")
bo7_comeback_winrates_df = get_player_winrates(master_players_df, bo7_comeback_df, min_matches=1, info_string="Bo7 Comeback")

In [124]:
bo5_comeback_winrates_df.sort_values(by=[ "TotalWins (Bo5 Comeback)"], ascending=False)

,playerId,PlayerName,CountryName,WinRate (Bo5 Comeback),TotalMatches (Bo5 Comeback),TotalWins (Bo5 Comeback),TotalLosses (Bo5 Comeback)
187,132132,CHEN Yi,China,87.50,8,7,1
203,133814,KIM Nayeong,Korea Republic,75.00,8,6,2
258,123977,SHIN Yubin,Korea Republic,60.00,10,6,4
205,114715,Dang QIU,Germany,75.00,8,6,2
190,114848,Martin ALLEGRO,Belgium,83.33,6,5,1
...,...,...,...,...,...,...,...
602,112075,Hampus SODERLUND,Sweden,0.00,1,0,1
603,102949,Hanna HAPONOVA,Ukraine,0.00,1,0,1
636,122425,Edward LY,Canada,0.00,1,0,1
637,110560,Mo ZHANG,Canada,0.00,1,0,1
638,132124,Undram MUNKHBAT,Mongolia,0.00,1,0,1

In [125]:
bo5_comeback_winrates_df.sort_values(by=[ "TotalLosses (Bo5 Comeback)"], ascending=False)

,playerId,PlayerName,CountryName,WinRate (Bo5 Comeback),TotalMatches (Bo5 Comeback),TotalWins (Bo5 Comeback),TotalLosses (Bo5 Comeback)
409,112062,Simon GAUZY,France,11.11,9,1,8
377,124591,Miyu NAGASAKI,Japan,33.33,9,3,6
408,115546,LAM Siu Hang,"Hong Kong, China",14.29,7,1,6
406,135367,OH Junsung,Korea Republic,16.67,6,1,5
407,115454,Natalia BAJOR,Poland,16.67,6,1,5
...,...,...,...,...,...,...,...
4,132715,YOO Siwoo,Korea Republic,100.00,1,1,0
3,145304,LIM Yunoh,Korea Republic,100.00,1,1,0
2,136757,Ryoichi YOSHIYAMA,Japan,100.00,2,2,0
1,124042,Daniela FONSECA,Cuba,100.00,1,1,0
0,123894,Jinnipa SAWETTABUT,Thailand,100.00,2,2,0

In [126]:
bo7_comeback_winrates_df.sort_values(by=[ "TotalLosses (Bo7 Comeback)"], ascending=False)

,playerId,PlayerName,CountryName,WinRate (Bo7 Comeback),TotalMatches (Bo7 Comeback),TotalWins (Bo7 Comeback),TotalLosses (Bo7 Comeback)
57,115910,LIN Gaoyuan,China,0.0,2,0,2
51,118507,Christina KALLBERG,Sweden,0.0,1,0,1
53,121582,LIN Yun-Ju,Chinese Taipei,0.0,1,0,1
46,115009,Adriana DIAZ,Puerto Rico,0.0,1,0,1
49,111498,Jeison MARTINEZ,Costa Rica,0.0,1,0,1
48,115543,DOO Hoi Kem,"Hong Kong, China",0.0,1,0,1
47,137627,Yangzi LIU,Australia,0.0,1,0,1
44,123300,Jules ROLLAND,France,0.0,1,0,1
45,117357,LIM Jonghoon,Korea Republic,0.0,1,0,1
43,133464,Amina KESSACI,Algeria,0.0,1,0,1
54,115396,Joao GERALDO,Portugal,0.0,1,0,1
35,134643,Sugdiyona MADALIEVA,Uzbekistan,0.0,1,0,1
42,118994,JEON Jihee,Korea Republic,0.0,1,0,1
40,116021,Kanak JHA,USA,0.0,1,0,1
41,111656,Dina MESHREF,Egypt,0.0,1,0,1
38,123971,CHO Daeseong,Korea Republic,0.0,1,0,1
37,110726,Benedek OLAH,Finland,0.0,1,0,1
36,123031,Guilherme TEODORO,Brazil,0.0,1,0,1
39,115641,Hugo CALDERANO,Brazil,0.0,1,0,1
31,136567,Benno OEHME,Germany,0.0,1,0,1
34,112092,Quadri ARUNA,Nigeria,0.0,1,0,1
32,131446,Angel NARANJO,Puerto Rico,0.0,1,0,1
33,116530,Kilian ORT,Germany,0.0,1,0,1
29,123672,Hina HAYATA,Japan,50.0,2,1,1
30,123478,Amin AHMADIAN,Iran,0.0,1,0,1
28,121440,Livan MARTINEZ,Cuba,50.0,2,1,1
50,121881,Daria TRIGOLOS,AIN,0.0,1,0,1
56,116874,Audrey ZARIF,France,0.0,1,0,1
55,131798,Finn LUU,Australia,0.0,1,0,1
58,113711,Irina CIOBANU,Romania,0.0,1,0,1
52,133189,Temirlan KIM,Kazakhstan,0.0,1,0,1
26,133529,HAN Feier,China,100.0,1,1,0
25,123980,Tomokazu HARIMOTO,Japan,100.0,1,1,0
24,121401,Jieni SHAO,Portugal,100.0,1,1,0
19,122044,Truls MOREGARD,Sweden,100.0,1,1,0
18,113676,Enzo ANGLES,France,100.0,1,1,0
17,122503,Shemar BRITTON,Guyana,100.0,1,1,0
16,106151,Alberto MINO,Ecuador,100.0,2,2,0
23,132781,Alsu SAPAROVA,Kazakhstan,100.0,1,1,0
22,102761,Ruwen FILUS,Germany,100.0,1,1,0
21,131997,Heorhi KUNATS,AIN,100.0,1,1,0
20,102832,Patrick FRANZISKA,Germany,100.0,1,1,0
11,105649,MA Long,China,100.0,1,1,0
10,131148,XU Yingbin,China,100.0,1,1,0
9,131909,Rebecca HOUNGUE,Cote d'Ivoire,100.0,1,1,0
8,132886,PYON Song Gyong,Korea DPR,100.0,1,1,0
7,111066,Sabine WINTER,Germany,100.0,1,1,0
6,131581,Nicole ARLIA,Italy,100.0,1,1,0
5,116674,Chantal MANTZ,Germany,100.0,1,1,0
4,118671,Tobias RASMUSSEN,Denmark,100.0,1,1,0
3,119588,LIANG Jingkun,China,100.0,1,1,0
2,122320,Vladislav URSU,Moldova,100.0,1,1,0
1,135023,Eduard IONESCU,Romania,100.0,2,2,0
0,111683,Gustavo GOMEZ,Chile,100.0,1,1,0
15,108742,Kirill SKACHKOV,AIN,100.0,1,1,0
14,113701,Britt EERLAND,Netherlands,100.0,1,1,0
13,105679,Marcos MADRID,Mexico,100.0,1,1,0
12,132132,CHEN Yi,China,100.0,1,1,0
27,104092,Minhyung JEE,Australia,100.0,1,1,0

In [127]:
bo7_comeback_winrates_df.sort_values(by=[ "TotalWins (Bo7 Comeback)"], ascending=False)

,playerId,PlayerName,CountryName,WinRate (Bo7 Comeback),TotalMatches (Bo7 Comeback),TotalWins (Bo7 Comeback),TotalLosses (Bo7 Comeback)
1,135023,Eduard IONESCU,Romania,100.0,2,2,0
16,106151,Alberto MINO,Ecuador,100.0,2,2,0
0,111683,Gustavo GOMEZ,Chile,100.0,1,1,0
3,119588,LIANG Jingkun,China,100.0,1,1,0
4,118671,Tobias RASMUSSEN,Denmark,100.0,1,1,0
5,116674,Chantal MANTZ,Germany,100.0,1,1,0
6,131581,Nicole ARLIA,Italy,100.0,1,1,0
7,111066,Sabine WINTER,Germany,100.0,1,1,0
8,132886,PYON Song Gyong,Korea DPR,100.0,1,1,0
9,131909,Rebecca HOUNGUE,Cote d'Ivoire,100.0,1,1,0
2,122320,Vladislav URSU,Moldova,100.0,1,1,0
10,131148,XU Yingbin,China,100.0,1,1,0
11,105649,MA Long,China,100.0,1,1,0
13,105679,Marcos MADRID,Mexico,100.0,1,1,0
12,132132,CHEN Yi,China,100.0,1,1,0
14,113701,Britt EERLAND,Netherlands,100.0,1,1,0
15,108742,Kirill SKACHKOV,AIN,100.0,1,1,0
17,122503,Shemar BRITTON,Guyana,100.0,1,1,0
18,113676,Enzo ANGLES,France,100.0,1,1,0
19,122044,Truls MOREGARD,Sweden,100.0,1,1,0
20,102832,Patrick FRANZISKA,Germany,100.0,1,1,0
21,131997,Heorhi KUNATS,AIN,100.0,1,1,0
22,102761,Ruwen FILUS,Germany,100.0,1,1,0
23,132781,Alsu SAPAROVA,Kazakhstan,100.0,1,1,0
24,121401,Jieni SHAO,Portugal,100.0,1,1,0
25,123980,Tomokazu HARIMOTO,Japan,100.0,1,1,0
26,133529,HAN Feier,China,100.0,1,1,0
27,104092,Minhyung JEE,Australia,100.0,1,1,0
28,121440,Livan MARTINEZ,Cuba,50.0,2,1,1
29,123672,Hina HAYATA,Japan,50.0,2,1,1
30,123478,Amin AHMADIAN,Iran,0.0,1,0,1
31,136567,Benno OEHME,Germany,0.0,1,0,1
32,131446,Angel NARANJO,Puerto Rico,0.0,1,0,1
33,116530,Kilian ORT,Germany,0.0,1,0,1
34,112092,Quadri ARUNA,Nigeria,0.0,1,0,1
35,134643,Sugdiyona MADALIEVA,Uzbekistan,0.0,1,0,1
36,123031,Guilherme TEODORO,Brazil,0.0,1,0,1
37,110726,Benedek OLAH,Finland,0.0,1,0,1
38,123971,CHO Daeseong,Korea Republic,0.0,1,0,1
39,115641,Hugo CALDERANO,Brazil,0.0,1,0,1
40,116021,Kanak JHA,USA,0.0,1,0,1
41,111656,Dina MESHREF,Egypt,0.0,1,0,1
42,118994,JEON Jihee,Korea Republic,0.0,1,0,1
43,133464,Amina KESSACI,Algeria,0.0,1,0,1
44,123300,Jules ROLLAND,France,0.0,1,0,1
45,117357,LIM Jonghoon,Korea Republic,0.0,1,0,1
46,115009,Adriana DIAZ,Puerto Rico,0.0,1,0,1
47,137627,Yangzi LIU,Australia,0.0,1,0,1
48,115543,DOO Hoi Kem,"Hong Kong, China",0.0,1,0,1
49,111498,Jeison MARTINEZ,Costa Rica,0.0,1,0,1
50,121881,Daria TRIGOLOS,AIN,0.0,1,0,1
51,118507,Christina KALLBERG,Sweden,0.0,1,0,1
52,133189,Temirlan KIM,Kazakhstan,0.0,1,0,1
53,121582,LIN Yun-Ju,Chinese Taipei,0.0,1,0,1
54,115396,Joao GERALDO,Portugal,0.0,1,0,1
55,131798,Finn LUU,Australia,0.0,1,0,1
56,116874,Audrey ZARIF,France,0.0,1,0,1
57,115910,LIN Gaoyuan,China,0.0,2,0,2
58,113711,Irina CIOBANU,Romania,0.0,1,0,1

In [133]:
bo7_comeback_df[bo7_comeback_df["loserId"]  == 115910]

,eventId,documentCode,subEventName,subEventDescription,venueName,tableName,dnf,ttrReview,serverNext,duration (unreliable),...,loser0Wins,loser1Wins,loser4Wins,winnerAvgWinningMargin,loserAvgWinningMargin,comebackBy2,comebackBy3,winnerAvgPointsPerSet,loserAvgPointsPerSet,Round
4818,2593,TTEMSINGLES-----------FNL-000100----------,Men's Singles,Men's Singles - Final - Match 1,BOK Hall,Table 1,False,False,NaN,00:59:53,...,0.0,0.0,1.0,3.5,4.67,True,True,9.71,9.71,Final
14309,2937,TTEMSINGLES-----------FNL-000100----------,Men's Singles,Men's Singles - Final - Match 1,Galaxy Arena,Table 1,False,False,105649.0,01:03:44,...,0.0,0.0,0.0,4.5,3.33,True,True,9.57,8.43,Final

In [137]:
all_comebacks_filter = bo5_comeback_mask | bo7_comeback_mask
all_comebacks_df = master_matches_df[all_comebacks_filter]
all_comebacks_winrates_df = get_player_winrates(master_players_df, all_comebacks_df, min_matches=1, info_string="All Comebacks")
all_comebacks_winrates_df.sort_values(by=["TotalLosses (All Comebacks)"], ascending=False)

,playerId,PlayerName,CountryName,WinRate (All Comebacks),TotalMatches (All Comebacks),TotalWins (All Comebacks),TotalLosses (All Comebacks)
426,112062,Simon GAUZY,France,11.11,9,1,8
425,115546,LAM Siu Hang,"Hong Kong, China",14.29,7,1,6
398,124591,Miyu NAGASAKI,Japan,33.33,9,3,6
424,135367,OH Junsung,Korea Republic,16.67,6,1,5
423,115454,Natalia BAJOR,Poland,16.67,6,1,5
...,...,...,...,...,...,...,...
28,202643,Bhavna HEERALAL,South Africa,100.00,1,1,0
29,123847,Minami ANDO,Japan,100.00,1,1,0
30,202747,ZHU Ziyu,China,100.00,1,1,0
31,132892,LYNE Karen,Malaysia,100.00,2,2,0
32,134790,Asuka SASAO,Japan,100.00,2,2,0

In [149]:
set([1,2]) == set([2,1])

True